.about-us {
  display: block;
}

.about-us__paragraph,
.about-us__second-header {
  display: block;
  max-width: 1080px;
}

.about-us__container {
  margin-bottom: 70px;
}

@media (max-width: 652px) {
  .about-us__container {
    margin-bottom: 41px;
  }

  .about-us__paragraph {
    font-size: 14px;
    line-height: 28px;
  }
}